.btn {
    background-color: $red;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.5625rem;
    text-align: center;
    font-size: 0.875rem;
    outline: none;
    /*display: inline-block;*/
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        background-color: $yellow;
    };
    &--black {
        background-color: $black;
        &:hover {
            background-color: #1f2122;
        };
    };
    &--reset {
        background-color: transparent;
        margin-right: 1.25rem;
        &:hover {
            background-color: #1f2122;
        }
        
    }
}

