.burgers {
    background: linear-gradient(#f9b43b, #eb8c38, #f9b43b);
}

.control__arrow {
    &--left {
        transform: rotate(90deg);
    }

    &--right {
        transform: rotate(270deg);
    }
}

.burgers__list {
    flex: 1;

    @include tablets {
        height: 90%;
    }
}

.burgers__item {
    height: 100%;
}

.burgers__content {
    display: flex;
    height: 100%;

    @include tablets {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

.burgers__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include tablets {
        height: 50%;
        align-items: flex-end;
    }
    @include phones {
        width: 100%;
    }
}

.burgers__photo {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.burgers__nutrition,
.burgers__ingredients {
    position: absolute;
    color: $white;
    text-transform: uppercase;
    @include gagalin();
}

.burgers__ingredients {
    top: 0;
    left: 0;
    padding: 0.625rem;
    background-color: $red;
    border-radius: 5px;
    outline: none;
    @include phones {
        padding: 5px;
        font-size: 0.75rem;
    }

    &:before {
        content: '';
        display: block;
        width: 3.125rem;
        height: 3.125rem;
        margin: 0 auto;
        margin-bottom: 0.625rem;
        background: url(../icons/burger.svg) center center / cover no-repeat;
        @include phones {
            width: 2.8125rem;
            height: 2.8125rem;
        }
    }
}

.burgers__nutrition {
    bottom: 0;
    left: 0;

    @include tablets {
        right: 0;
        left: initial;
        bottom: initial;
        top: 0;
    }
}

.nutrition {
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nutrition__number {
    margin-bottom: 15%;

    &::before {
        content: '';
        display: block;
        width: 50%;
        background: url(../icons/kkal.svg) center center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 50%;
        height: 50%;
        transform: translate(-50%, 0);
    }
}

.burgers__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;

    @include tablets {
        width: 85%;
        align-items: center;
    }
}

.burgers__name {
    margin: 3.125rem 0;

    @include tablets {
        margin: 0 0 2.1875rem 0;
        text-align: center;
    }
}

.burgers__text {
    @include ubuntu(light);
    margin-bottom: 2.1875rem;
}

.burgers__price {
    display: flex;
    align-items: center;
}

.price {
    @include gagalin();
    font-size: 3.125rem;
    padding-bottom: 0.625rem;
    margin-right: 2.5rem;
    color: $red;
}