$itemsMargin: 10px;
.header {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
}
.logo {
    width: 100px ;
}
.logo__image {
    width: 100px;
    height: 150px;
}
.header-menu {
    margin-left: auto;
}

.header-menu__list {
    display: flex;
    align-items: center;
    margin-right: $itemsMargin;
}
.header-menu__item {
    display: flex;
    align-items: center;
    margin-left: $itemsMargin;
}
.header-menu__item:after {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #ffffff;
}
.header-menu :last-child:after {
    display: none;
}
