
.pagination {
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    right: 20%;
    transform: translateY(-50%);

}
.pagination__item {
    margin-bottom: 0.9375rem;
}
.pagination :last-child {
    margin-bottom: 0rem;
}
.pagination__dot {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
}
.pagination__dot:before {
    content: '';
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 0.0625rem solid transparent;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination__item--active {
    .pagination__dot:before {
        border-color: #ffffff;
    }
}
