.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 650px;
    &--align--top {
        justify-content: flex-start;
    };

}

.title {
    font-size: 72px;
    color: $yellow;
    margin-bottom: 50px;
    @include gagalin();
    &--black {
        color: $black;
    };
    &--white {
        color: $white;
    };
}