.we {
    background: url(../icons/we_bg.png) center center / cover no-repeat;
}
.we__title {
    text-align: center;
    padding-top: 8.4375rem;
    margin-bottom: 3.125rem;
}
.we__list {
    padding: 0rem 1.5625rem;
}
.list {
    display: flex;
    justify-content: space-evenly;
}
.list__item {
    max-width: 33%;
}
.pros {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pros__image {
    margin-bottom: 1.875rem;
}
.pics {
    width: 12.5rem;
    height: 6.25rem;
}
.pros__pic {
    max-width: 100%;
}
.pros__title {
    @include lifehack();
    font-size: 1.5rem;
    margin-bottom: 1.5625rem;
}
.pros__description {
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    opacity: 0.8;
}

