.welcome {
    background: url(../icons/video-bg.png) center center / cover no-repeat;
    border: 1px solid #ffffff;
    height: 100%;
    justify-content: space-between;
}

.welcome__content {
    display: flex;
}

/*.main {
    flex: 1;
    padding-left: 80px;
}*/
/*.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}*/
.welcome__image {
    width: 50%;
    display: flex;
    justify-content: center;
    background: url(../../icons/drops.png) top center no-repeat;
}
.welcome__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome__description {
  @include lifehack();
  font-size: 65px;
  font-style: normal;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}
.control {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}