.contacts {
    background-color: $black;
}
.map {
    overflow: hidden;
    flex-grow: 1;
}
.map__image {
    width: 100%;
    height: 100%;
}

.footer {
    
    background-color: $black;
    display: flex;
    
}
.contacts__details {
    width: 50%;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include phones {
        padding: 0;
        width: 100%;
        align-items: center;
    };
}
.contacts__address {
    color: $white;
}
.phone__logo {
    width: 0.9375rem;
    height: 0.9375rem;
}
.contacts__phone {
    display: inline;
    color: $red;
    @include ubuntu(bold);
    &:before {
        content: "";
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        background: url(../images/icons/phone.svg) center center/cover no-repeat;
        margin-right: 0.9375rem;
    }
}
.socials__list {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3.75rem;

    @include phones {
        padding: 0;
        width: 100%;
        justify-content: center;
    };
}
.socials__item {
    margin-right: 1.5625rem;
}
.socials__logo {
    width: 1.5625rem;
    height: 1.5625rem;
    fill: #575757;
    &:hover {
        fill: $white;
    };
}