.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 650px;
    &--align--top {
        justify-content: flex-start;
    };
    
   
}

.title {
    font-size: 5.5rem;
    color: $yellow;

    @include tablets {
        font-size: 4.5rem;
    };

    @include phones {
        font-size: 4rem;
    }
    
    @include gagalin();
    &--black {
        color: $black;
        padding-top: 3.125rem;
        margin-bottom: 1.875rem;
    };
    &--white {
        color: $white;
    };
    &--order {
        margin-bottom: 3.125rem;
    }
}