.work {
    background: url(../images/work_bg.jpg) center center / cover no-repeat;
}
.player__container {
    position: relative;
    width: 95%;
}
.player__wrapper {
    width: 100%;
}
.player__element {
    width: 100%;
}
.player__splash {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 26%;
        width: 200px;
        height: 200px;
        left: 34%;
        background: url(/images/Play_white.png) center center no-repeat;
    }
    
}
.player__splash-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background-color: #3e3e3e;
    color: #626262;
    display: flex;
    align-items: center;
}
.player__start, .player__mute {
    width: 20px;
    height: 30px;
    background: url(/images/icons/play.svg) center center / cover no-repeat;
    margin-left: 5%;
}
.player__start {
    position: relative;
    background: url(/images/icons/play.svg) center center / cover no-repeat;
    &::before {
        content: "";
        display: none;
        width: 7px;
        height: 25px;
        background-color: #626262;
        position: absolute;
        left: 0;
    };
    &::after {
        content: "";
        display: none;
        width: 7px;
        height: 25px;
        background-color: #626262;
        position: absolute;
        right: 0;
    };

}
.player {
    width: 100%;
    &--active {
        .player__start::before, .player__start::after{
            display: inline-block;
        };
        .player__start {
            background: none;
        };
        .player__splash {
            display: none;
        }
    };
}
.player__mute {
    position: relative;
    background: url(/images/icons/volume.svg) center center / cover no-repeat;
    &::before {
        content: "";
        display: none;
        width: 5px;
        height: 44px;
        background-color: #626262;
        position: absolute;
        left: 10px;
        transform: rotate(130deg);
        top: -7px;
    };
    &--soundoff {
        &::before {
            display: inline-block;
        };
    };
}
.player__volume-scale, .player__playback {
    margin-left: 3%;
    height: 3px;
    background-color: #626262;
    position: relative;
}
.player__playback {
    width: 60%;
    @include phones {
        width: 55%;
    }
}
.player__volume-scale {
    width: 12%;
    @include phones {
        width: 10%;
    }
}


.player__volume-btn, .player__playback-btn {
    position: absolute;
    top: -125%;
    left: 0%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: inherit;
}

